<app-header title="Inventario" icon="cube"></app-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>
    
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-select aria-label="Movimiento"
            interface="action-sheet"
            placeholder="Selecciona un tipo de movimiento"
            [(ngModel)]="inventaryCat.idMovimiento">
              <ion-select-option value="1">Entrada de inventario</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-select aria-label="Producto"
            interface="action-sheet"
            placeholder="Selecciona una producto"
            [(ngModel)]="inventaryCat.idProduct">
              <ion-select-option *ngFor="let item of productsList" value="{{ item.idProduct }}">{{ item.name }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-input type="number"
        label="Cantidad"
        label-placement="floating"
        fill="outline"
        placeholder="Ingresa la cantidad"
        [(ngModel)]="inventaryCat.cantidad"
        ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-textarea label="Observaciones (Opcionales)" labelPlacement="floating" fill="outline" placeholder="Agregue una observación"
        [(ngModel)]="inventaryCat.description"></ion-textarea>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
        <ion-button color="success"
        (click)="insertInventary()"
        [disabled]="!( inventaryCat.idMovimiento.length > 0 && inventaryCat.idProduct > 0 && inventaryCat.cantidad > 0)">
          <ion-icon slot="start" name="save-outline"></ion-icon>
          Guardar
        </ion-button>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
